.SettingsView {
  text-align: center;
  padding: 0 1em;
}

.mainHeader {
  margin-top: 0.5em;
  font-size: 1.8em;
  font-weight: normal;
  color: #fff;
}

.inputsContainer {
  text-align: left;
  margin-top: 3em;
}

.btnContainer {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9em;
}
