.Button {
  background-color: #ffd10c;
  color: #fff;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0.7rem 1.3rem;
  font-size: 1.5em;
  font-weight: bold;
}

.Button:hover {
  cursor: pointer;
}

.icon {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: '. .';
}

img.icon {
  width: 1.5em;
  height: 1.5em;
  color: white;
  fill: currentColor;
}
