.TrainStatus {
  margin-bottom: 1em;
  padding: 0.5em 0;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr 6fr;
  grid-template-rows: 1fr;
  grid-template-areas: '. . .';
  text-align: center;
}

.timeContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: '.' '.';
}

.arrivalTime {
  font-size: 1.2em;
  font-weight: bold;
}

@media only screen and (min-width: 400px) {
  /* At 500px make the train icons smaller. */
  .routeImg {
    height: 3.3em;
  }
  .arrivalTime {
    font-size: 1.5em;
  }
}
