/* Nighttime background color #00395d */
@font-face {
  font-family: 'Product Sans';
  src: url('../assets/font/Product\ Sans\ Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../assets/font/Product\ Sans\ Bold.ttf') format('truetype');
  font-weight: bold;
}

.App {
  box-sizing: border-box;
  background-color: #60c2ff;
  color: #fff;
  font-family: 'Product Sans';
  position: relative;
  width: 375px;
  height: 667px;
}

.imgContainer {
  width: 100%;
  height: 93px;
}

.headerImg {
  width: 100%;
  height: 100%;
}
