.InputContainer {
  margin-bottom: 1rem;
}

.Input {
  max-width: 100%;
  outline: none;
  text-align: left;
  line-height: 1.215em;
  font-family: inherit;
  padding: 0.5em 0.7em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.286rem;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 1.15rem;
  position: relative;
}

.Input:focus {
  border-color: #ffd10c;
}

.Input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.fluid {
  width: 100%;
}

.label {
  margin-left: 0.8em;
}

.error {
  border-color: red;
  margin-bottom: 0;
}

.label.error {
  color: red;
}
