.MainView {
  width: 100%;
}

.mainHeader {
  text-align: center;
  margin-top: .5em;
  font-size: 1.8em;
  font-weight: normal;
  color: #fff;
}

.weatherContainer {
  text-align: center;
}

.trainContainer {
  width: 100%;
  margin: 1em 0;
}