.TrainBlock {
  margin-top: 3em;
}

.headlineContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.direction {
  color: #ffe236;
}

.direction:hover {
  cursor: pointer;
  text-decoration: underline;
}

.direction.N::after, .direction.S::after {
  content: '';
  width: 1em;
  height: 1em;
  display: inline-block;
  right: 0;
  background-image: url('../assets/images/upArrow.svg');
  background-size: 1em 1em;
  background-repeat: no-repeat;
}

.direction.S::after {
  transform: rotate(180deg);
}