.TrainBlock {
  margin-top: 3em;
}

.headlineContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.direction {
  color: #ffe236;
}

.direction:hover {
  cursor: pointer;
  text-decoration: underline;
}

.direction.N::after {
  content: '▲';
  right: 0;
}

.direction.S::after {
  content: '▼';
  right: 0;
}