.WeatherBlock {
  text-align: center;
  padding: .3em 1.3em;
  border: 1.5px solid white;
  border-radius: 10px;
  /* TODO: Better way to do this */
  width: fit-content;
}

.temperatureContainer {
  padding-right: .7em;
}

.temperature {
  font-size: 2.3em;
  position: relative;
}

.temperature::after {
  content: 'o';
  top: 0;
  font-size: .55em;
  padding-left: .1em;
  font-weight: bold;
  position: absolute;
}

.desc {
  font-size: 1.1em;
}