.WelcomeView {
  text-align: center;
}

.mainHeader {
  margin: 0.5em 0 0 0;
  font-weight: normal;
  color: #fff;
}

.secondaryHeader {
  margin: 0.5em 0 0 0;
  font-weight: normal;
  color: #fff;
}

.inputsContainer {
  text-align: left;
  margin-top: 3em;
}

.btnContainer {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
}
