.TrainBlock {
  margin-top: 3em;
}

.headlineContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0.2em 1em;
}

.direction {
  color: #ffe236;
}

.direction:focus {
  outline: none;
}

.direction:hover {
  cursor: pointer;
  text-decoration: underline;
}

.direction.N::after,
.direction.S::after {
  content: '';
  width: 1em;
  height: 1em;
  display: inline-block;
  right: 0;
  background-image: url('../../assets/images/upArrow.svg');
  background-size: 1em 1em;
  background-repeat: no-repeat;
  padding-left: 0.2em;
}

.direction.S::after {
  transform: rotate(180deg);
}

.darken {
  background-color: black;
  opacity: 0.3;
}

.statusContainer {
  position: relative;
}

.loadingBlock {
  height: 3.2em;
  margin-bottom: 1em;
  padding: 0.5em 0;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.3);
}

.floatLoader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* StatusBlock error */

.errorBlock {
  text-align: center;
  padding: 1em;
  margin: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.2);
}

.errorBlock h4 {
  font-size: 1.2em;
  margin: 0;
}

.errorBlock p {
  margin: 1em 0 0.2em 0;
}

.errorBlock a {
  color: #ffe236;
  font-weight: normal;
  letter-spacing: normal;
  font-size: inherit;
  text-decoration: none;
}

.errorBlock a:hover {
  text-decoration: underline;
}

.ErrorImg {
  height: 3em;
  width: 3em;
  fill: red;
  padding: 1em 0;
}
